body {
    font-family: "Fira Sans", Arial, Helvetica, sans-serif;
    margin: 0px;
    color: #141414;
}

#particles-js {
    height: 100%;
    /* width: 100%; */
}

canvas {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100vh;
    z-index: -1;
}


h1, h2, h3, p {
    margin: 0px;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

.subtitulo {
    font-size: 8rem;
    line-height: 1;
    text-transform: uppercase;
    word-break: break-all;
    max-width: 4ch;
}

@media (max-width: 800px) {
    .subtitulo {
        font-size: 3rem;
        text-transform: capitalize;
        max-width: initial !important;
    }
}